@model MyFirstWebAppII.Models.Punt

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Punt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Leerling" class="control-label"></label>
                <input asp-for="Leerling" class="form-control" />
                <span asp-validation-for="Leerling" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Klas" class="control-label"></label>
                <input asp-for="Klas" class="form-control" />
                <span asp-validation-for="Klas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Min" class="control-label"></label>
                <input asp-for="Min" class="form-control" />
                <span asp-validation-for="Min" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Max" class="control-label"></label>
                <input asp-for="Max" class="form-control" />
                <span asp-validation-for="Max" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
