@page

@{
    //ViewData["Title"] = "NieuwPuntentabel";
    Layout = null;

    Dictionary<string, int> aantalLeerlingen = new Dictionary<string, int>()
    {
        {"6ITN", 10},
        {"6OIT", 18},
        {"6OM", 12},
        {"6OMT", 10},
        {"6CM", 10},
    };
}
<!--model voor communicatie met database-->
<div>Welke Klas?</div>
<select id="geselecteerdeKlas">
    @foreach (KeyValuePair<string, int> kvp in aantalLeerlingen)
    {
        <option value="@kvp.Key">@kvp.Key</option>
    }
</select>

<div>onderwerp:</div><textarea></textarea>
<div>max. aantal punten:</div><textarea id="maxPunten"></textarea>

<table>
    <tr>
        <th>leerling</th>
        <th>score</th>
        <th>maximum</th>
    </tr>
    @foreach (KeyValuePair<string, int> kvp in aantalLeerlingen)//Juist? Nee, lln moeten uit database gehaald worden
    {
        <tr>
            <td></td>
            <td><input type="text" /></td>
            <td><script>document.write(document.getElementById("maxPunten").value);</script></td><!--Hoe kan ik hier de inhoud van maxPunten opvragen?-->
        </tr>
    }


</table>







<button id="btnOpslaan">Opslaan</button>