@page

@{
    //ViewData["Title"] = "PuntenIngeven";
}


<button id="knop" onclick="openen()">Nieuwe punten</button>
<script>
    /*var knop = document.getElementById("knop");
    knop.addEventListener("click", fuction() {
        window.open("Vieuws/Ingeeftabel.cshtml");
    });*/

    function openen() {
        var knop = document.getElementById("knop");
        window.open("Ingeeftabel");
    }

    /*$("knop").click(function () {
        //... openen
        window.open("Views/Ingeeftabel.cshtml");
    });*/
</script>