@page
@model PuntenIngevenModel
@{
}

<button id="knop">Nieuwe punten</button>
<script>
    var knop = document.getElementById("knop");
    $("knop").click(function () {
        //... openen

    });
</script>